//Загаловки
.title-first
    &__main
        display: block
        font-weight: 800
        font-size: 5rem
        line-height: 6rem
        color: $color-white
        text-transform: uppercase
        margin-bottom: 1rem
        letter-spacing: 1rem
        animation: leftToRight 1.7s ease .7s
        animation-fill-mode: backwards
    &__secondary
        display: block
        letter-spacing: 0.5rem
        font-weight: 100
        color: $color-white
        animation: RightToLeft 1.7s ease .7s
        margin-bottom: 5rem
        animation-fill-mode: backwards

body
    font-family: "Roboto", sans-serif
    font-weight: 400
    font-size: 1.6rem
    color: $color-gray
    letter-spacing: 0.2rem

.title-secondary
    text-align: center
    display: inline-block
    font-size: $font-size-h2
    letter-spacing: 1rem
    text-transform: uppercase
    font-weight: 800
    background: linear-gradient(90deg, rgba($color-brown-light, 0.7) 0.03%, rgba($color-brown-dark, 0.7) 99.94%)
    -webkit-background-clip: text
    color: transparent
    transition: all .4s
    backface-visibility: hidden
    &:hover
        transform: skew(15deg, 2deg) scale(1.1)
        text-shadow: 0 .4rem .4rem rgba($color-black, .25 )

.title-third
    font-size: $font-size-h3
    font-weight: 700
    letter-spacing: .2rem

.paragraph
    font-size: $font-size-p
    line-height: 160%
    letter-spacing: .2rem
    font-weight: 400
