$color-black: #000000
$color-white: #ffffff

//Основные цыета для компонентов
$color-brown-light: #BA8554
$color-brown-dark: #A14F03
$color-gray: #777777

//Значения для лояутов
$grid-width: 114rem
$margin-vertical-big: 8rem
$margin-horizontal: 6rem

//Шрифты
$font-size-h2: 3.6rem
$font-size-h3: 2rem
$font-size-p: 1.6rem

//тень для кнопок
$box-shadow: (0px 4px 4px rgba($color-black, 0.3))
$box-shadow-active: (0px 4px 4px rgba($color-black, 0.1))
