.book
    height: 50rem
    width: 100%
    border-radius: .5rem
    box-shadow: $box-shadow
    background: linear-gradient(115deg,rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 55%, rgba(186, 133, 84, 0.2) 55%, rgba(161, 79, 3, 0.2) 100%), url(../img/book.jpg) center / cover