.compozition
    position: relative
    &__photo
        position: absolute
        width: 60%
        transition: .2s all ease-out
        z-index: 10
        border-radius: .5rem
        outline-offset: .5rem
        box-shadow: $box-shadow
        &_n1
            top: 0rem   
            left: 0rem
        &_n2
            top: 2rem
            right: 0rem
        &_n3
            top: 13rem
            left: 10rem
        &:hover
            transform: scale(1.095)
            z-index: 20
            outline: .5rem solid $color-brown-light
    &:hover :not(:hover)
        transform: scale(.95)